 body {
        background: #c9bfbf;
      }
      .blue {
        background: #305ef6;
      }
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .calculator {
        height: 440px;
        width: 300px;
        background: #111f35;
        border-radius: 20px;
        box-shadow: 2px 2px 15px black;
      }
      .display {
        height: 80px;
        width: 90%;
        margin: 15px;
        border-radius: 20px;
        background: #111f35;
        border-style: none;
        box-shadow: 2px 2px 15px black;
        color: #cecece;
        text-align: right;
        font-size: 50px;
        box-sizing: border-box;
        padding-top: 12px;
        padding-right: 10px;
        white-space: nowrap;
        overflow: auto;
      }
      .buttons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        padding: 10px;
        margin-left: 10px;
      }
      button {
        height: 50px;
        width: 50px;
        font-size: 20px;
        color: #fff;
        border-style: none;
        border-radius: 30px;
        background: #111f35;
        box-shadow: 2px 2px 15px black;
      }
      .numbers:hover {
        background: #1c3a67;
      }
      .operator:hover {
        background: #1739aa;
      }
      .enter {
        background: #43be36;
      }
      .enter:hover {
        background: #2c7f23;
      }